<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/vc</property>
        <property name="connection.username">root</property>
        <property name="connection.password">ab370126</property>
        <mapping resource="xyz/cym2018/DAO/User.hbm.xml"/>
        <mapping resource="xyz/cym2018/DAO/Visitor.hbm.xml"/>
        <mapping resource="xyz/cym2018/DAO/Worker.hbm.xml"/>
        <mapping resource="xyz/cym2018/DAO/Map.hbm.xml"/>
        <mapping resource="xyz/cym2018/DAO/Shop.hbm.xml"/>
        <mapping resource="xyz/cym2018/DAO/Bill.hbm.xml"/>
        <mapping resource="xyz/cym2018/DAO/Checkin.hbm.xml"/>
        <mapping resource="xyz/cym2018/DAO/Rent.hbm.xml"/>
        <mapping resource="xyz/cym2018/DAO/Near.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
    </session-factory>
</hibernate-configuration>
